.catalog-detailed__similar
	display: grid
	grid-template-columns: repeat(2, auto)
	grid-gap: $grid-unit*4
	background: #F7F7F7
	border: 1px solid $color-athensGray
	padding: $grid-unit*5 $grid-unit*4
	