.catalog-detailed__save-link-desk
	text-transform: uppercase
	font-weight: 500
	border-bottom: 1px solid $color-blue
	margin-left: $grid-unit*2
	transition: $transition
	
	&:hover
		border-bottom: 1px solid transparent