.menu-full__list-extra
	position: absolute
	top: 0
	left: 100%
	min-width: 340px
	height: 100%
	background: white
	padding-top: 155px
	opacity: 0
	z-index: -1
	transition: $transition
	pointer-events: none
	
	
	.menu-full__list_tag
		padding-right: 30px