@import "../../logo/logo"
@import "../../contacts-quick/contacts-quick"
@import "../__quick-contacts/header__quick-contacts"
@import "../../menu-quick/menu-quick"

.header__quick
	display: flex
	align-items: center
	justify-content: space-between
	padding: $grid-unit*4 0
    
  
