.catalog-detailed__main
    h1.catalog-detailed__main-title Hewlett-Packard HP BL460cG8 Intel Xeon E5-26XX/E5-26XXV2
    ul.catalog-detailed__main-list
        li.catalog-detailed__main-list-item Актикул: 34534
        li.catalog-detailed__main-list-item
            a.catalog-detailed__main-link.link-blue.modal__open-link(data-popup-trigger="detailed-features" href='javascript:void(0);' title="заголовок H1") Характеристики
        li.catalog-detailed__main-list-item
            a.catalog-detailed__main-link.link-blue.modal__open-link(data-popup-trigger="detailed-documents" href='javascript:void(0);' title="заголовок H1") Документация
    p.catalog-detailed__main-p
        | Бренд Hewlett:&nbsp;
        a.catalog-detailed__main-link.link-blue(href='javascript:void(0);' title="заголовок H1") Все платформы бренда Hewlett
    p.catalog-detailed__main-p
        | Назначение сервера:&nbsp;
        a.catalog-detailed__main-link.link-blue(href='javascript:void(0);' title="заголовок H1") Все серверы для 1С
    .catalog-detailed__main-rate
        .catalog-detailed__main-rate-item.rate.rate_new 146 100 000 ₽
            span.rate__old 156 100 000 ₽
        a.catalog-detailed__main-rate-link.link-blue.link-blue_border.modal__open-link(data-popup-trigger="detailed-cheaper" href='javascript:void(0);' title="заголовок H1") Нашли дешевле?
    .catalog-detailed__main-delivery.delivery
        span.delivery__icon.fas.fa-truck
        | 2 дня, бесплатно
    .catalog-detailed__main-btns
        a.button.button_long.button_red.button_icon.catalog-detailed__main-btn(href='javascript:void(0);')
            .button__content
                svg.button__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                span.button__text В корзину
        a.button.button_long.button_blue.catalog-detailed__main-btn(href='javascript:void(0);') Получить предложение
    .catalog-detailed__main-add
        .input-compare.catalog-detailed__main-add-link.link-blue
            input(class="input-compare__item" type="checkbox" id="inputCompare4")
            label(class="input-compare__label" for="inputCompare4")
                span.input-compare__icon.fas.fa-list-ul
                span.input-compare__title.catalog-detailed__main-add-link-desc Добавить в сравнение
        a.catalog-detailed__main-add-link.link-blue(href='javascript:void(0);' title="заголовок H1")
            span.fas.fa-phone-alt
            span.catalog-detailed__main-add-link-desc Получить консультацию