.hot-options__item
	font-size: 12px
	color: $color-blue
	margin-right: $grid-unit*2
	padding: 2px $grid-unit*2
	border-radius: 100px
	border: 1px solid $color-blue
	cursor: default
	
@import "_favourite/hot-options__item_favourite"