ul.menu-location
    - var mlTitle = "Доставка";
        include __item/menu-location__item
    - var mlTitle = "Гарантия";
        include __item/menu-location__item
    - var mlTitle = "Оплата";
        include __item/menu-location__item