- var quickHref;
- var quickHrefTitle;
- var quickHrefDesc;

.contacts-quick
    a.contacts-quick__link(href="" + quickHref title = "заголовок H1") #{quickHrefTitle}
    span.contacts-quick__desc #{quickHrefDesc}