@import "__desc/contacts-quick__desc"
@import "__link/contacts-quick__link"

.contacts-quick
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: flex-start
	margin-right: $grid-unit*6
	
	&:last-of-type
		margin-right: 0