include local/views/helpers/mixins

block variables
- const title = "GT-Site";

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title #{title}
        meta(name="theme-color" content="#fff")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(name="robots" content="noindex, nofollow")
        meta(name="googlebot" content="noindex, nofollow")
        meta(name="yandex" content="none")
        link(rel="stylesheet" href="/local/styles/pages/catalog-detailed-simple.css")
    body.page

        block content
            include local/blocks/header/header
            main.main
                .main__intro
                    .breadcrumbs
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="/") Главная
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="/catalog.html") Каталог
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="/configurator.html") Серверные платформы б/у
                            li.breadcrumbs__item Hewlett-Packard HP BL460cG8
                include local/blocks/catalog-detailed/catalog-detailed-simple
            include local/blocks/footer/footer_detailed-simple


        block scripts
            include local/js/js-header
            include local/js/js-catalog-detailed-simple