.filter__link
	color: $color-black
	display: flex
	align-items: center
	justify-content: flex-start
	
	.icon
		margin-right: 15px
		
	.icon .icon__svg
		fill: $color-black
		
	.icon:hover .icon__svg
		fill: $color-green