@import "../../location/location"
@import "../../menu-location/menu-location"
@import "../../languages/languages"

.header__location
	display: flex
	align-items: center
	justify-content: space-between
	padding: 10px 0
	
	&::before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		background: $color-athensGray
		width: 100vw
		height: 44px
		z-index: -1
	
	.menu-location
		flex-grow: 1
		margin: 0 $grid-unit*6