.catalog-detailed__items
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title Процессор
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" checked="checked" name="optionsOne" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsOne" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsOne" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 5819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsOne" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate Под заказ
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsOne" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Без дополнений
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title Оперативная память
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" checked="checked" name="optionsTwo" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsTwo" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsTwo" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 5819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsTwo" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate Под заказ
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsTwo" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Без дополнений
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title LAN
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" checked="checked" name="optionsThree" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsThree" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsThree" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 5819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsThree" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate Под заказ
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsThree" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Без дополнений
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title RAID контроллер
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" checked="checked" name="optionsFour" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsFour" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Без дополнений
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title HDD TRAY
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" checked="checked" name="optionsFive" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsFive" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Без дополнений
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title RAIL KIT
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" checked="checked" name="optionsSix" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsSix" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Без дополнений
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title IPMI
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" checked="checked" name="optionsSeven" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Intel Xeon E5-2609 (4C, 2.4GHz, 10Mb) s.2011
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsSeven" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Без дополнений
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title ИБП, фильтры
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.checkbox
                        input(type="checkbox"  name="optionsSeven1" class="checkbox__input")
                        span.checkbox__checkmark
                .catalog-detailed__option-title APC SMC1000I-2U
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.checkbox
                        input(type="checkbox" checked="checked" name="optionsSeven1" class="checkbox__input")
                        span.checkbox__checkmark
                .catalog-detailed__option-title Eaton 103006434-6591
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.checkbox
                        input(type="checkbox"  name="optionsSeven1" class="checkbox__input")
                        span.checkbox__checkmark
                .catalog-detailed__option-title Встроенный iLO3 с удалённым подключением образов ОС, поддержкой удалённого управления ОС и сервером, через выделенный сетевой разъём
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsSeven71" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Без дополнений
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title Гарантия
            .catalog-detailed__hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
            a.catalog-detailed__item-open(href="javascript:void(0);")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        ul.catalog-detailed__options
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" checked="checked" name="optionsEleven" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-drop-down.drop-down
                    .drop-down__choice
                        .drop-down__result 1
                            span.drop-down__result-icon.fas.fa-angle-down
                        .drop-down__list.drop-down__list_hide
                            .drop-down__option(data-sort="1") 1
                            .drop-down__option(data-sort="2") 2
                            .drop-down__option(data-sort="3") 3
                            .drop-down__option(data-sort="4") 4
                            .drop-down__option(data-sort="5") 5
                .catalog-detailed__option-title Гарантия 12 месяцев
                .catalog-detailed__option-rate + 819 ₽
                .catalog-detailed__option-hint.hint
                    span.fas.fa-info-circle.hint__ico
                    .hint__desc Много много важной информации для пользователя
            li.catalog-detailed__option
                .catalog-detailed__option-radio
                    label.radio-dot
                        input(type="radio" name="optionsEleven" class="radio-dot__input")
                        span.radio-dot__checkmark
                .catalog-detailed__option-title Расширенная гарантия 24 месяца