.catalog-detailed__items
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title Характеристики
        ul.catalog-detailed__simple-list
            li.catalog-detailed__simple-list-item
                span.catalog-detailed__simple-list-title Процессор
                span.catalog-detailed__simple-list-desc Hewlett-Packard HP BL460cG8 Intel Xeon E5-26XX/E5
            li.catalog-detailed__simple-list-item
                span.catalog-detailed__simple-list-title Материнская плата
                span.catalog-detailed__simple-list-desc DL380pG8
            li.catalog-detailed__simple-list-item
                span.catalog-detailed__simple-list-title Оперативная память
                span.catalog-detailed__simple-list-desc DDR4
            li.catalog-detailed__simple-list-item
                span.catalog-detailed__simple-list-title Жесткие диски
                span.catalog-detailed__simple-list-desc SAS/SATA, NVMe
            li.catalog-detailed__simple-list-item
                span.catalog-detailed__simple-list-title Характеристики RAID массивов
                span.catalog-detailed__simple-list-desc SAS 12 Гбит/с и SATA 6 Гбит/с
            li.catalog-detailed__simple-list-item
                span.catalog-detailed__simple-list-title Графический адаптер
                span.catalog-detailed__simple-list-desc 0, 1, 10, 5, 50, 6, 60
            li.catalog-detailed__simple-list-item
                span.catalog-detailed__simple-list-title Корпус
                span.catalog-detailed__simple-list-desc HPE  Flex Slot Platinum Hot Plug Power Supply
            li.catalog-detailed__simple-list-item
                span.catalog-detailed__simple-list-title Разъемы на задней панели
                span.catalog-detailed__simple-list-desc 1
    .catalog-detailed__item
        .catalog-detailed__item-header
            .catalog-detailed__item-title Похожие товары
        .catalog-detailed__similar
            .catalog-detailed__similar-item
                ul.hot-options
                    li.hot-options__item
                        span.hot-options__title Выгодно


                .rate.rate_new 146 100 000 ₽
                    span.rate__old 156 100 000 ₽

