.filter-range__content
	display: flex
	justify-content: center
	align-items: center
	background: #FFFFFF
	border: 1px solid #E1E1E1
	border-radius: 8px
	min-width: 150px
	padding: 10px
	font-size: 14px
	color: $color-primary
	margin-bottom: 16px
	transition: $transition