@import "../__simple-config-wrap/catalog-detailed__simple-config-wrap"

.catalog-detailed__simple-config
	border: 3px solid #EFF0F4
	padding: $grid-unit*4
	margin-bottom: $grid-unit*4
	position: relative
	
	.catalog-detailed__title
		margin-bottom: $grid-unit*3
		
	.input-choice__label
		background-color: #EFF0F4
	
	.input-choice__input:checked ~	.input-choice__label
		background-color: $color-white