.catalog-detailed__simple-config
    .catalog-detailed__simple-config-content
        h2.catalog-detailed__title
            | Информация о товаре
    .catalog-detailed__simple-config-wrap
        .input-choice
            input.input-choice__input(type="radio" name="config" id="inputChoiceBase" checked)
            label.input-choice__label(for="inputChoiceBase")
                span.input-choice__checkmark
                    svg.input-choice__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                span.input-choice__title характеристики

        .input-choice
            input.input-choice__input(type="radio" name="config" id="inputChoiceBase2")
            label.input-choice__label(for="inputChoiceBase2")
                span.input-choice__checkmark
                    svg.input-choice__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                span.input-choice__title документация

        .input-choice
            input.input-choice__input(type="radio" name="config" id="inputChoiceBase3")
            label.input-choice__label(for="inputChoiceBase3")
                span.input-choice__checkmark
                    svg.input-choice__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                span.input-choice__title отзывы

        .input-choice
            input.input-choice__input(type="radio" name="config" id="inputChoiceBase4")
            label.input-choice__label(for="inputChoiceBase4")
                span.input-choice__checkmark
                    svg.input-choice__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                span.input-choice__title видеообзор

