script(src="/local/js/vendor/swiper.min.js")
script(src="/local/js/slider/slider.js")
script(src="/local/js/slider-config/slider-config.js")
script(src="/local/js/input-compare/input-compare.js")
script(src="/local/js/drop-down/drop-down.js")
script(src="/local/js/detailed-item/detailed-item.js")
script(src="/local/js/detailed-total/detailed-total.js")
script(src="/local/js/detailed-options/detailed-options.js")
script(src="/local/js/file-uploader/file-uploader.js")
script(src="/local/js/vendor/imask.js")
script(src="/local/js/mask-tel/mask-tel.js")
script(src="/local/js/cheaper-form/cheaper-form.js")