script(src="/local/js/input-view/input-view.js")
script(src="/local/js/drop-down/drop-down.js")
script(src="/local/js/input-compare/input-compare.js")
script(src="/local/js/vendor/nouislider.min.js")
script(src="/local/js/filter-range/filter-range.js")
script(src="/local/js/filter-total/filter-total.js")
script(src="/local/js/counter/counter.js")