.catalog-detailed__save-link
	display: flex
	align-items: center
	color: $color-blue
	height: 40px
	margin-bottom: $grid-unit*3
	
	&:last-child
		margin-bottom: 0
	
	.icon_stroke .icon__svg
		stroke: $color-blue
		
	.icon_fill .icon__svg
		fill: $color-blue
	