@import "../../drop-down/drop-down"
@import "../../radio-dot/radio-dot"

.catalog-detailed__item
	margin-bottom: $grid-unit*4
	
	&_close
		
		.catalog-detailed__item-open
			transform: rotate(90deg)
		
		.catalog-detailed__options
			height: 0
			opacity: 0