.filter-total__list
	margin-bottom: 7px
	display: flex
	align-items: center
	flex-wrap: wrap
	justify-content: flex-start
	max-width: 1085px
	height: auto
	transition: transform 0.2s 0s
	transition-property: transform, visibility, min-height
	min-height: 20px
	
	&_hidden
		width: 0
		min-height: 0
		transform: translateY(120px)
		visibility: hidden