.cheaper(data-popup-modal="detailed-cheaper").modal-detailed.modal.modal_right.modal_hidden
    .cheaper__content.modal__content.modal-detailed__content
        a.cheaper__action-link.modal-detailed__action-link.modal__close-link(href="#" title = "заголовок H1")
            .icon.icon_fill
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
        .cheaper__main.modal-detailed__main
            h2.h2.cheaper__title.modal-detailed__title Нашли дешевле?
                br
                | Получите скидку
            .cheaper__text
                p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
                p.h3.cheaper__sub-title Акция распространяется только на товары Б/У
            h3.cheaper__sub-title Как это работает?
            .cheaper__text
            p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
            p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
            form.cheaper__form(name="cheaper__form")
                label.cheaper__label
                    input.cheaper__input.input-border(type="text" placeholder="Ваше имя")
                    span.cheaper__input-desc Формат ввода: русские или латинские буквы
                label.cheaper__label
                    input.cheaper__input.input-border(type="tel" placeholder="Ваш телефон")
                    span.cheaper__input-desc Формат ввода: +7 (999)-999-99-99
                include ../file-uploader/file-uploader
                button.button.button_grey.cheaper__submit(type="submit") Отправить
                p.cheaper__form-comment Нажимая кнопку «Отправить», Вы соглашаетесь
                    a.cheaper__form-link(href="#" title = "заголовок H1")
                        |  на обработку персональных данных
                a.modal__open-link(data-popup-trigger="detailed-submit-success" href="javascript:void(0);" title="заголовок H1")