.catalog-detailed__option
	display: flex
	align-items: center
	justify-content: space-between
	border: 1px solid #EFF0F4
	padding: 16px 20px
	
	&:nth-of-type(even)
		background: #FAFAFA
		
	&-radio
		margin-right: 10px
		
		.radio-dot__checkmark
			top: -4px
	
	&-drop-down
		
		.drop-down__choice
			left: -15px
			margin-right: 10px
			border: 1px solid $color-primary
			box-sizing: border-box
			border-radius: 10px
			top: auto
			bottom: -11px
			display: flex
			flex-direction: column
			align-items: flex-start
			z-index: 5
			min-width: 50px
		
		.drop-down__result
			order: 2
			padding: 3px 10px
			
		.drop-down__list
			transition: none
			display: flex
			flex-direction: column-reverse
	
	&-hint
		margin-top: 0
		margin-left: 0
		margin-right: 5px
		
	&-drop-down ~ .catalog-detailed__option-title
		margin-left: 45px