.filter.modal.modal_right.modal_hidden(data-popup-modal="filter-rate")
    .filter__content.modal__content
        .filter__top
            a.filter__link.filter__action-link_return.modal__close-link(href="#" title = "заголовок H1")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow-left")
                span.filter__link-text Все фильтры
            a.filter__link.filter__action-link_close.modal__close-link(href="#" title="заголовок H1")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
        .filter__main
            .filter__title Цена
            .filter__range.filter-range(data-filter="filter-range_rate")
                .filter-range__content
                    span.filter-range__text от
                    input.filter-range__input.filter-range__input_min(data-filter-min="filter-rate" min="0" max="150000" step="500" type="text")
                    span.filter-range__text ₽

                .filter-range__content
                    span.filter-range__text до
                    input.filter-range__input.filter-range__input_max(data-filter-max="filter-rate" min="0" max="150000" step="500" type="text")
                    span.filter-range__text ₽
                .filter__btns
                    button.button.button_long.filter__btn-reset(type="reset") Очистить фильтр
                    button.button.button_long.button_blue.filter__btn-submit(type="submit") Применить



.filter.modal.modal_right.modal_hidden(data-popup-modal="filter-option")
    .filter__content.modal__content
        .filter__top
            a.filter__link.filter__action-link_return.modal__close-link(href="#" title = "заголовок H1")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow-left")
                span.filter__link-text Все фильтры
            a.filter__link.filter__action-link_close.modal__close-link(href="#" title="заголовок H1")
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
        .filter__main
            .filter__title Опции
            .filter__range.filter-range(data-filter="filter-range_option")
                .filter-range__content
                    span.filter-range__text от
                    input.filter-range__input.filter-range__input_min(data-filter-min="filter-option" min="0" max="45000" step="100" type="text")
                    span.filter-range__text ₽

                .filter-range__content
                    span.filter-range__text до
                    input.filter-range__input.filter-range__input_max(data-filter-max="filter-option" min="0" max="45000" step="100" type="text")
                    span.filter-range__text ₽
                .filter__btns
                    button.button.button_long.filter__btn-reset(type="reset") Очистить фильтр
                    button.button.button_long.button_blue.filter__btn-submit(type="submit") Применить

