//Media
$hd: 1920px
$xl: 1440px
$l: 1280px
$tablet: 1024px
$md: 768px
$sm: 576px
$s: 320px

//Colors
$color-black: #1C1C1C
$color-white: #ffffff

$color-primary: #8F8F8F

$color-athensGray: #EFF0F4
$color-dustyGray: #9B9B9B
$color-mercury: #E1E1E1
$color-gallery: #EAEAEA

$color-blue: #215294
$color-red: #F15C45
$color-green: #28CF7F

//Fonts
$font-primary: "Inter", sans-serif

//Grid
$grid-unit: 5px

//Animation
$transition: .2s ease-in-out



