a.location(href="javascript:void(0);")
    .icon.icon_location.location__icon
        svg.icon__svg
            use(xlink:href="/local/img/icons/sprite.svg#ico_location")
    span.location__title Санкт-Петербург