@import "__icon/location__icon"
@import "__title/location__title"

.location
	display: flex
	align-items: center
	justify-content: flex-start
	
	&:hover, &:focus
		.location__title
			border-bottom-color: transparent