.configurator-main__item
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: stretch
	width: calc((100% - 55px*2)/3)
	padding: $grid-unit*6
	background: $color-white
	border: 3px solid $color-athensGray
	margin-right: 55px
	min-height: 250px
	
	&:nth-of-type(3n)
		margin-right: 0