.input-view
    .input-view__item
        input.input-view__input(type="radio" id="inputViewCol1" name="inputView" value="column" checked="checked")
        label.input-view__label(for="inputViewCol1")
            svg.input-view__svg
                use(xlink:href="/local/img/icons/sprite.svg#ico_column")
    .input-view__item
        input.input-view__input(type="radio" id="inputViewCol2" name="inputView" value="twoColumns")
        label.input-view__label(for="inputViewCol2")
            svg.input-view__svg
                use(xlink:href="/local/img/icons/sprite.svg#ico_columns-2")