@import "__item/input-view__item"
@import "__input/input-view__input"
@import "__label/input-view__label"
@import "__svg/input-view__svg"

.input-view
	position: relative
	display: flex
	justify-content: space-between
	background: $color-white
	border: 1px solid $color-mercury
	border-radius: 4px
	width: 61px