@import "../producer-list/producer-list"
@import "../configurator-result/configurator-result"
@import "__main/configurator__main"
@import "__side/configurator__side"
@import "../promo/promo"
@import "__form/configurator__form"
@import "__items/configurator__items"
@import "__item/configurator__item"

.configurator
	display: grid
	grid-template-columns: auto 300px
	grid-column-gap: 20px
	grid-row-gap: 10px
	
