@import "../producer-list/producer-list"
@import "../configurator-result/configurator-result"
@import "__main/configurator__main"
@import "__side/configurator__side"
@import "../promo/promo"
@import "__form/configurator__form"
@import "__items/configurator__items"
@import "__item/configurator__item"
@import "../hot-options/hot-options"
@import "__item-img/configurator__item-img"
@import "__item-link/configurator__item-link"
@import "__item-title/configurator__item-title"
@import "__item-option/configurator__item-option"
@import "__item-option-title/configurator__item-option-title"
@import "__item-options/configurator__item-options"
@import "__item-rate/configurator__item-rate"
@import "__item-rate-old/configurator__item-rate-old"
@import "__item-delivery/configurator__item-delivery"
@import "__item-delivery-icon/configurator__item-delivery-icon"
@import "__item-main/configurator__item-main"
@import "__item-offer/configurator__item-offer"
@import "__item-buy/configurator__item-buy"
@import "__item-buy-btn/configurator__item-buy-btn"
@import "__hot-options/configurator__hot-options"
@import "__btn-show-more/configurator__btn-show-more"
@import "../pagination/pagination"

@import "../filter/filter"

.configurator
	display: grid
	grid-template-columns: calc(100% - 320px) 300px
	grid-column-gap: 20px
	grid-row-gap: 10px
	
