@import "__icon/menu-quick__icon"
@import "__item/menu-quick__item"
@import "__link/menu-quick__link"
@import "__title/menu-quick__title"

.menu-quick
	display: flex
	align-items: center
	justify-content: flex-start