ul.menu-quick
    li.menu-quick__item
        a.menu-quick__link(href="#" title = "заголовок H1")
            .icon.icon_fill.menu-quick__icon
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_search")
            span.menu-quick__title Поиск
    li.menu-quick__item
        a.menu-quick__link(href="#" title = "заголовок H1")
            .icon.icon_fill.menu-quick__icon
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_blank")
            span.menu-quick__title Прайс
    li.menu-quick__item
        a.menu-quick__link(href="#" title = "заголовок H1")
            .icon.icon_fill.menu-quick__icon
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_person")
            span.menu-quick__title Кабинет
    li.menu-quick__item
        a.menu-quick__link(href="#" title = "заголовок H1")
            .icon.icon_fill.menu-quick__icon
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_list")
            span.menu-quick__title Сравнение
    li.menu-quick__item
        a.menu-quick__link(href="#" title = "заголовок H1")
            .icon.icon_stroke.menu-quick__icon
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart-empty")
            span.menu-quick__title Корзина
