.catalog-detailed__config
    h2.catalog-detailed__title Состав конфигурации
    ul.catalog-detailed__config-list
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title Процессор
            .catalog-detailed__config-item-desc Intel Xeon E5-2670 (8C, 2.6-3.3GHz, 20Mb) s.2011
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title Оперативная память
            .catalog-detailed__config-item-desc DDR3 8Gb PC3L-10600R
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title LAN
            .catalog-detailed__config-item-desc PCIE 1GB (4*10/100/1000Base-T) MT-i350-T4 82580
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title RAID контроллер
            .catalog-detailed__config-item-desc SAS/SATA PCIE 9260-8I 512MB LSI00198 SGL LSI
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title HDD TRAY
            .catalog-detailed__config-item-desc SAS/SATA PCIE 9260-8I 512MB LSI00198 SGL LSI
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title RAIL KIT
            .catalog-detailed__config-item-desc HP DL380pG8 - p/n 662535-00
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title IPMI
            .catalog-detailed__config-item-desc Встроенный iLO3 с удалённым подключением образов ОС, поддержкой удалённого управления ОС и сервером, через выделенный сетевой разъём
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title ИБП, фильтры
            .catalog-detailed__config-item-desc APC SMC1000I-2U
        li.catalog-detailed__config-item
            .catalog-detailed__config-item-title Гарантия
            .catalog-detailed__config-item-desc Гарантия 12 месяцев