@import "__overview/catalog-detailed__overview"
@import "__details/catalog-detailed__details"
@import "__slider/catalog-detailed__slider"
@import "../slider/slider"


.catalog-detailed
	@include container
	display: grid
	grid-template-columns: 750px auto
	grid-column-gap: $grid-unit*10
	
