@import "__overview/catalog-detailed__overview"
@import "__details/catalog-detailed__details"
@import "__slider/catalog-detailed__slider"
@import "__main/catalog-detailed__main"
@import "__save/catalog-detailed__save"
@import "__config/catalog-detailed__config"
@import "__title/catalog-detailed__title"
@import "__slider-config/catalog-detailed__slider-config"
@import "__items/catalog-detailed__items"
@import "__total/catalog-detailed__total"

@import "../slider/slider"
@import "../rate/rate"
@import "../delivery/delivery"
@import "../features/features"
@import "../modal/modal"
@import "../documents/documents"
@import "../cheaper/cheaper"
@import "../config-users/config-users"


.catalog-detailed
	@include container
	display: grid
	grid-template-columns: 750px auto
	grid-column-gap: $grid-unit*10
	
