nav.menu-nav
    ul.menu-nav__list
        - var navTitle = "Каталог";
        - var navHref = "catalog.html";
        include __item/menu-nav__item

        - var navTitle = "Конфигуратор";
        include __item/menu-nav__item

        - var navTitle = "О компании";
        include __item/menu-nav__item

        - var navTitle = "Блог";
        include __item/menu-nav__item

        - var navTitle = "Акции";
        include __item/menu-nav__item

        - var navTitle = "Контакты";
        include __item/menu-nav__item