.slider-config
	
	&__buttons
		position: absolute
		right: 20px
		top: 25px
		display: flex
		align-items: center
		justify-content: flex-end
		
	&__button
		margin-left: $grid-unit*3
		cursor: pointer
		
		&:focus
			outline: none
		
		.icon__svg
			height: 16px
			
		&_prev
			.icon__svg
				transform: rotate(180deg)
			
		.icon_fill:hover,
		.icon_fill:focus
			
			.icon__svg
				fill: $color-blue
	.swiper-slide
		width: auto!important
		margin-right: $grid-unit*2
		
	.input-choice__label
		background-color: #EFF0F4
		
	.input-choice__input:checked ~	.input-choice__label
		background-color: $color-white
		