.slider-config
	
	.swiper-slide
		width: auto!important
		margin-right: $grid-unit*2
		
	.input-choice__label
		background-color: #EFF0F4
		
	.input-choice__input:checked ~	.input-choice__label
		background-color: $color-white
		