ul.hot-options
    li.hot-options__item.hot-options__item_favourite
        span.fas.fa-star.hot-options__icon
        span.hot-options__title 4.7
    li.hot-options__item
        span.hot-options__title Выгодно
    li.hot-options__item
        span.hot-options__title Новинка
    li.hot-options__item
        span.hot-options__title Б/У

