.slider-compare__button
	margin-left: $grid-unit*5
	cursor: pointer
	
	&_next
		transform: rotate(180deg)
	
	.icon__svg
		max-height: 16px
		fill: $color-dustyGray
		
	&:focus
		outline: none
		
	&:hover
		.icon__svg
			fill: $color-black