.configurator-main
    h1 Конфигуратор сервера
    .configurator-main__types
        a.configurator-main__item(href='javascript:void(0);' title="заголовок H1")
            .configurator-main__item-title Базовый
            .configurator-main__item-text
                p С другой стороны начало повседневной работы по формированию позиции влечет за собой процесс.
            .configurator-main__item-btn Конфигурировать
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        a.configurator-main__item(href='javascript:void(0);' title="заголовок H1")
            .configurator-main__item-title Стандартный
            .configurator-main__item-text
                p С другой стороны начало повседневной работы по формированию позиции влечет за собой процесс.
            .configurator-main__item-btn Конфигурировать
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        a.configurator-main__item(href='javascript:void(0);' title="заголовок H1")
            .configurator-main__item-title Продвинутый
            .configurator-main__item-text
                p С другой стороны начало повседневной работы по формированию позиции влечет за собой процесс.
            .configurator-main__item-btn Конфигурировать
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
    h2 Название заголовка для SEO текста
    p Структурировать, хранить, тщательно контролировать значительные объемы данных из разных информационных потоков в компаниях крупного и среднего масштаба помогут качественные IT-устройства. Они способствуют автоматизации бизнес-процессов, возрастанию клиентской базы и активному развитию предприятий разных сфер.
    p Обязательно стоит сервер купить в СПб, ведь это залог успеха деятельности офиса, серверного парка или дата-центра. Приобретение поможет создать запасные мощности хранения информации при минимальном бюджете.
    p Подержанная IT-техника стоит в несколько раз дешевле новой. Но только при условии сотрудничества с надежным поставщиком.
    p Отечественные пользователи, увидев приставку «б/у», не всегда смотрят, сколько стоит товар. Сразу настороженно отмахнутся, потому что считают, что устройства или сломаны, или в них что-то не так с функциональностью. Это не так, и разрушить стереотип помогут несколько секретов: