@import "__button/file-uploader__button"
@import "__input/file-uploader__input"
@import "__title/file-uploader__title"


.file-uploader
	position: relative
	overflow: hidden
	margin-top: 10px
	margin-bottom: 15px
	display: block
	