.file-uploader
    button.file-uploader__button(type="button")
        .icon.icon_fill
            svg.icon__svg
                use(xlink:href="/local/img/icons/sprite.svg#ico_upload")
        span.file-uploader__title Прикрепить вложение
    input.file-uploader__input(type="file" name="myfile")
