.configurator-result.configurator__configurator-result
    .configurator-result__title Найдено 15 товаров
    .configurator-result__filter
        .configurator-result__sort.drop-down
            .drop-down__title Сортировать
            .drop-down__result.pointerCursor По убыванию цены
                span.drop-down__result-icon
            .drop-down__list.drop-down__list_hide.pointerCursor
                .drop-down__option(data-sort="lowerRate") По убыванию цены
                .drop-down__option(data-sort="higherRate") По возрастанию цены
                .drop-down__option(data-sort="popular") По популярности
                .drop-down__option(data-sort="rating") По рейтингу
        .configurator-result__currency
        .configurator-result__view