@import "../../menu-burger/menu-burder"
@import "../../menu-nav/menu-nav"

.header__nav
	display: flex
	align-items: center
	justify-content: space-between
	
	.menu-nav
		flex-grow: 1
		margin-left: $grid-unit*2