.menu-full__main-item
	width: 340px
	margin-right: $grid-unit*9
	padding-right: $grid-unit*4
	padding-bottom: $grid-unit*8
	border-right: 1px solid $color-athensGray
	flex-shrink: 0
	
	&:last-of-type
		margin-right: 0
		padding-right: 0
		border-right: none