.menu-full__quick-contacts
	border-bottom: 1px solid $color-athensGray
	padding-bottom: $grid-unit*4
	margin: $grid-unit*4 0
	
	.contacts-quick
		margin-bottom: $grid-unit*3
		
		&:last-of-type
			margin-bottom: 0