@import "_rotate/drop-down__result_open"

.drop-down__result-icon
	position: absolute
	right: 10px
	top: 10px
	width: 12px
	height: 8px
	background-image: url("/local/img/ico_arrow-down-blue.png")
	background-size: contain
	background-position: center
	background-repeat: no-repeat