@import "_rotate/drop-down__result_open"

.drop-down__result-icon
	position: absolute
	right: 0
	top: 0
	width: 25px
	height: 25px
	background-image: url("/local/img/ico_arrow-down-blue.png")
	background-size: contain
	background-position: center
	background-repeat: no-repeat