.filter-range__input::-webkit-outer-spin-button,
.filter-range__input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

.filter-range__input[type=number]
	-moz-appearance: textfield
	
.filter-range__input
	text-align: center
	color: inherit
	font-weight: inherit
	