@import "__content/compare__content"
@import "__choice/compare__choice"
@import "__slider/compare__slider"
@import "__close-link/compare__close-link"
@import "__features-title/compare__features-title"
@import "__features-open/compare__features-open"
@import "__features/compare__features"
@import "__features-header/compare__features-header"
@import "__features-show/compare__features-show"
@import "__features-show-title/compare__features-show-title"
@import "__features-input/compare__features-input"
@import "__features-label/compare__features-label"
@import "__features-show-radio/compare__features-show-radio"
@import "__features-radio/compare__features-radio"
@import "__slider-title/compare__slider-title"
@import "__slider-desc/compare__slider-desc"
@import "__sliders/compare__sliders"


@import "../similar/similar"
@import "../hot-options/hot-options"
@import "../rate/rate"
@import "../slider-compare/slider-compare"

.compare
	overflow: hidden
	
	.swiper-container
		pointer-events: none
		overflow: visible
		
		&.slider-compare_main
			pointer-events: auto