@import "__content/compare__content"
@import "__choice/compare__choice"

@import "../similar/similar"
@import "../hot-options/hot-options"
@import "../rate/rate"
@import "../slider-compare/slider-compare"

.compare
	
	.swiper-container
		pointer-events: none
		overflow: visible
		
		&.slider-compare_main
			pointer-events: auto