.compare
    .compare__content
        h1 Сравнение товаров
        .h2.compare__features-title Сравнивать пока нечего
        .compare__text
            p Добавляйте сюда товары, чтобы сравнить их характеристики.
            p Так выбрать лучший станет проще!
        a.compare__btn.button.button_blue(href='/catalog.html' title="заголовок H1") Перейти в каталог