.compare
    .compare__content
        h1 Сравнение товаров
        .compare__choice
            .input-choice
                input.input-choice__input(type="radio" name="config" id="inputChoiceBase" checked)
                label.input-choice__label(for="inputChoiceBase")
                    span.input-choice__checkmark
                        svg.input-choice__svg
                            use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                    span.input-choice__title серверы
            .input-choice
                input.input-choice__input(type="radio" name="config" id="inputChoiceBase2")
                label.input-choice__label(for="inputChoiceBase2")
                    span.input-choice__checkmark
                        svg.input-choice__svg
                            use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                    span.input-choice__title дисковые полки
            .input-choice
                input.input-choice__input(type="radio" name="config" id="inputChoiceBase3")
                label.input-choice__label(for="inputChoiceBase3")
                    span.input-choice__checkmark
                        svg.input-choice__svg
                            use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                    span.input-choice__title сетевое оборудование
        .compare__slider-btns.slider-compare__btns
            .slider-compare__button.slider-compare__button_next
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
            .slider-compare__button.slider-compare__button_prev
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        .compare__slider.slider-compare.slider-compare_main.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                .icon.icon_fill
                                    svg.icon__svg
                                        use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                .icon.icon_fill
                                    svg.icon__svg
                                        use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                .icon.icon_fill
                                    svg.icon__svg
                                        use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                .icon.icon_fill
                                    svg.icon__svg
                                        use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                .icon.icon_fill
                                    svg.icon__svg
                                        use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                .icon.icon_fill
                                    svg.icon__svg
                                        use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                    svg.button__svg
                                        use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
        .compare__features
            .compare__features-header
                h2 Теxнические характеристики
            .compare__features-show
                .compare__features-show-title Показывать:

        .compare__slider.slider-compare.slider-compare_processor.swiper-container
            .swiper-wrapper
                .swiper-slide
                   p Hewlett-Packard HP BL460cG8 Intel Xeon
                .swiper-slide
                    p Hewlett-Packard HP BL460cG8 Intel Xeon
                .swiper-slide
                    p Hewlett-Packard HP BL460cG8 Intel Xeon
                .swiper-slide
                    p Hewlett-Packard HP BL460cG8 Intel Xeon
                .swiper-slide
                    p Hewlett-Packard HP BL460cG8 Intel Xeon
                .swiper-slide
                    p Hewlett-Packard HP BL460cG8 Intel Xeon
        .compare__slider.slider-compare.slider-compare_motherboard.swiper-container
            .swiper-wrapper
                .swiper-slide
                    p DL380pG8
                .swiper-slide
                    p DL380pG8
                .swiper-slide
                    p DL380pG8
                .swiper-slide
                    p DL380pG8
                .swiper-slide
                    p DL380pG8
                .swiper-slide
                    p DL380pG8