.compare
    .compare__content
        h1 Сравнение товаров
        .compare__choice
            .input-choice
                input.input-choice__input(type="radio" name="config" id="inputChoiceBase" checked)
                label.input-choice__label(for="inputChoiceBase")
                    span.input-choice__checkmark
                        svg.input-choice__svg
                            use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                    span.input-choice__title серверы
            .input-choice
                input.input-choice__input(type="radio" name="config" id="inputChoiceBase2")
                label.input-choice__label(for="inputChoiceBase2")
                    span.input-choice__checkmark
                        svg.input-choice__svg
                            use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                    span.input-choice__title дисковые полки
            .input-choice
                input.input-choice__input(type="radio" name="config" id="inputChoiceBase3")
                label.input-choice__label(for="inputChoiceBase3")
                    span.input-choice__checkmark
                        svg.input-choice__svg
                            use(xlink:href="/local/img/icons/sprite.svg#ico_checkmark")
                    span.input-choice__title сетевое оборудование
        .compare__slider-btns.slider-compare__btns
            .slider-compare__button.slider-compare__button_next
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
            .slider-compare__button.slider-compare__button_prev
                .icon.icon_fill
                    svg.icon__svg
                        use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        .compare__slider.slider-compare.slider-compare_main.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                    .icon.icon_fill
                                        svg.icon__svg
                                            use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер 1 Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                    .icon.icon_fill
                                        svg.icon__svg
                                            use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер 2 Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                    .icon.icon_fill
                                        svg.icon__svg
                                            use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер 3 Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                    .icon.icon_fill
                                        svg.icon__svg
                                            use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер 4 Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                    .icon.icon_fill
                                        svg.icon__svg
                                            use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер 5 Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                svg.button__svg
                                    use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
                .swiper-slide
                    .similar
                        .similar__intro
                            ul.similar__hot-options.hot-options
                                li.hot-options__item.hot-options__item_favourite
                                    span.fas.fa-star.hot-options__icon
                                    span.hot-options__title 4.7
                            .similar__label
                                a.compare__close-link(href='javascript:void(0);' title="заголовок H1")
                                    .icon.icon_fill
                                        svg.icon__svg
                                            use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
                        a(href='javascript:void(0);' title="заголовок H1").similar__link
                            img.similar__img(src="local/img/img_configurator-1.png")
                            .similar__title Сервер 6 Supermicro SYS-6016T-NTF б/у
                            .similar__desc Intel Xeon 55XX/56XX
                        .similar__order
                            .similar__rate.rate 146 100 000 ₽
                            a.button.button_red.button_icon-sm(href='javascript:void(0);' title="заголовок H1")
                                    svg.button__svg
                                        use(xlink:href="/local/img/icons/sprite.svg#ico_cart")
        .compare__features
            .compare__features-header
                h2.compare__features-title Теxнические характеристики
                a.compare__features-open(href="javascript:void(0);")
                    .icon.icon_fill
                        svg.icon__svg
                            use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
            .compare__features-show
                .compare__features-show-title Показывать:
                .compare__features-show-radio
                    .compare__features-radio
                        input.compare__features-input(type="radio" id="inputViewCol" name="inputView" value="twoColumns" checked)
                        label.compare__features-label(for="inputViewCol") Различающиеся характеристики
                    .compare__features-radio
                        input.compare__features-input(type="radio" id="inputViewCol2" name="inputView" value="twoColumns2")
                        label.compare__features-label(for="inputViewCol2") Все характеристики
        .compare__sliders
            .compare__slider.slider-compare.slider-compare_processor.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.compare__slider-title Процессор
                        p.compare__slider-desc Hewlett-Packard HP BL460cG8 Intel Xeon
                    .swiper-slide
                        p.compare__slider-title Процессор
                        p.compare__slider-desc Hewlett-Packard HP BL460cG8 Intel Xeon
                    .swiper-slide
                        p.compare__slider-title Процессор
                        p.compare__slider-desc Hewlett-Packard HP BL460cG8 Intel Xeon
                    .swiper-slide
                        p.compare__slider-title Процессор
                        p.compare__slider-desc Hewlett-Packard HP BL460cG8 Intel Xeon
                    .swiper-slide
                        p.compare__slider-title Процессор
                        p.compare__slider-desc Hewlett-Packard HP BL460cG8 Intel Xeon
                    .swiper-slide
                        p.compare__slider-title Процессор
                        p.compare__slider-desc Hewlett-Packard HP BL460cG8 Intel Xeon
            .compare__slider.slider-compare.slider-compare_motherboard.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.compare__slider-title Материнская плата
                        p.compare__slider-desc DL380pG8
                    .swiper-slide
                        p.compare__slider-title Материнская плата
                        p.compare__slider-desc DL380pG8
                    .swiper-slide
                        p.compare__slider-title Материнская плата
                        p.compare__slider-desc DL380pG8
                    .swiper-slide
                        p.compare__slider-title Материнская плата
                        p.compare__slider-desc DL380pG8
                    .swiper-slide
                        p.compare__slider-title Материнская плата
                        p.compare__slider-desc DL380pG8
                    .swiper-slide
                        p.compare__slider-title Материнская плата
                        p.compare__slider-desc DL380pG8
            .compare__slider.slider-compare.slider-compare_ram.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.compare__slider-title Оперативная память
                        p.compare__slider-desc DL38
                    .swiper-slide
                        p.compare__slider-title Оперативная память
                        p.compare__slider-desc DL38
                    .swiper-slide
                        p.compare__slider-title Оперативная память
                        p.compare__slider-desc DL38
                    .swiper-slide
                        p.compare__slider-title Оперативная память
                        p.compare__slider-desc DL38
                    .swiper-slide
                        p.compare__slider-title Оперативная память
                        p.compare__slider-desc DL38
                    .swiper-slide
                        p.compare__slider-title Оперативная память
                        p.compare__slider-desc DL38
            .compare__slider.slider-compare.slider-compare_hard.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.compare__slider-title Жесткие диски
                        p.compare__slider-desc SAS/SATA, NVMe
                    .swiper-slide
                        p.compare__slider-title Жесткие диски
                        p.compare__slider-desc SAS/SATA, NVMe
                    .swiper-slide
                        p.compare__slider-title Жесткие диски
                        p.compare__slider-desc SAS/SATA, NVMe
                    .swiper-slide
                        p.compare__slider-title Жесткие диски
                        p.compare__slider-desc SAS/SATA, NVMe
                    .swiper-slide
                        p.compare__slider-title Жесткие диски
                        p.compare__slider-desc SAS/SATA, NVMe
                    .swiper-slide
                        p.compare__slider-title Жесткие диски
                        p.compare__slider-desc SAS/SATA, NVMe
            .compare__slider.slider-compare.slider-compare_raid.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.compare__slider-title Характеристики RAID массивов
                        p.compare__slider-desc SAS 12 Гбит/с и SATA 6 Гбит/с
                    .swiper-slide
                        p.compare__slider-title Характеристики RAID массивов
                        p.compare__slider-desc SAS 12 Гбит/с и SATA 6 Гбит/с
                    .swiper-slide
                        p.compare__slider-title Характеристики RAID массивов
                        p.compare__slider-desc SAS 12 Гбит/с и SATA 6 Гбит/с
                    .swiper-slide
                        p.compare__slider-title Характеристики RAID массивов
                        p.compare__slider-desc SAS 12 Гбит/с и SATA 6 Гбит/с
                    .swiper-slide
                        p.compare__slider-title Характеристики RAID массивов
                        p.compare__slider-desc SAS 12 Гбит/с и SATA 6 Гбит/с
                    .swiper-slide
                        p.compare__slider-title Характеристики RAID массивов
                        p.compare__slider-desc SAS 12 Гбит/с и SATA 6 Гбит/с
            .compare__slider.slider-compare.slider-compare_graphic.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.compare__slider-title Графический адаптер
                        p.compare__slider-desc 0, 1, 10, 5, 50, 6, 60
                    .swiper-slide
                        p.compare__slider-title Графический адаптер
                        p.compare__slider-desc 0, 1, 10, 5, 50, 6, 60
                    .swiper-slide
                        p.compare__slider-title Графический адаптер
                        p.compare__slider-desc 0, 1, 10, 5, 50, 6, 60
                    .swiper-slide
                        p.compare__slider-title Графический адаптер
                        p.compare__slider-desc 0, 1, 10, 5, 50, 6, 60
                    .swiper-slide
                        p.compare__slider-title Графический адаптер
                        p.compare__slider-desc 0, 1, 10, 5, 50, 6, 60
                    .swiper-slide
                        p.compare__slider-title Графический адаптер
                        p.compare__slider-desc 0, 1, 10, 5, 50, 6, 60
            .compare__slider.slider-compare.slider-compare_memory.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.compare__slider-title Корпус память
                        p.compare__slider-desc HPE  Flex Slot Platinum Hot Plug Power Supply
                    .swiper-slide
                        p.compare__slider-title Корпус память
                        p.compare__slider-desc HPE  Flex Slot Platinum Hot Plug Power Supply
                    .swiper-slide
                        p.compare__slider-title Корпус память
                        p.compare__slider-desc HPE  Flex Slot Platinum Hot Plug Power Supply
                    .swiper-slide
                        p.compare__slider-title Корпус память
                        p.compare__slider-desc HPE  Flex Slot Platinum Hot Plug Power Supply
                    .swiper-slide
                        p.compare__slider-title Корпус память
                        p.compare__slider-desc HPE  Flex Slot Platinum Hot Plug Power Supply
                    .swiper-slide
                        p.compare__slider-title Корпус память
                        p.compare__slider-desc HPE  Flex Slot Platinum Hot Plug Power Supply
            .compare__slider.slider-compare.slider-compare_connectors.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.compare__slider-title Разъемы на задней панели
                        p.compare__slider-desc 1
                    .swiper-slide
                        p.compare__slider-title Разъемы на задней панели
                        p.compare__slider-desc 1
                    .swiper-slide
                        p.compare__slider-title Разъемы на задней панели
                        p.compare__slider-desc 1
                    .swiper-slide
                        p.compare__slider-title Разъемы на задней панели
                        p.compare__slider-desc 1
                    .swiper-slide
                        p.compare__slider-title Разъемы на задней панели
                        p.compare__slider-desc 1
                    .swiper-slide
                        p.compare__slider-title Разъемы на задней панели
                        p.compare__slider-desc 1