ul.producer-list.configurator__producer-list
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") DELL
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") SUPERMICRO
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") ASUS
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") IBM
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") AMD
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") DELL
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") SUPERMICRO
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") DELL
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") SUPERMICRO
    li.producer-list__item
        a.producer-list__link(href="" title = "заголовок H1") DELL