.producer-list__link
	display: block
	color: $color-black
	font-weight: 500
	padding: 11px $grid-unit*4 12px $grid-unit*4
	background: $color-gallery
	border: 1px solid $color-mercury
	border-radius: 4px
	text-transform: uppercase