<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GT-Site</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
    <header class="header">
      <div class="header--wrapper">Header</div>
    </header>
    <h1>Заголовок h1
      <h2>Заголовок h2</h2>
      <h3>Заголовок h3</h3>
      <h2>Кнопки</h2>
      <div width="300"><a class="button button_long button_blue" href="javascript:void(0);">Узнать подробнее</a>
        <p></p><a class="button button_long button_red button_icon" href="javascript:void(0);">
          <div class="button__content">
            <svg class="button__svg">
              <use xlink:href="../img/icons/sprite.svg#ico_tel"></use>
            </svg><span class="button__text">Получить консультацию</span>
          </div></a>
        <p></p><a class="button button_long" href="javascript:void(0);">Смотреть в каталоге (12)</a>
        <p></p><a class="button button_long button_red button_icon" href="javascript:void(0);">
          <div class="button__content">
            <svg class="button__svg">
              <use xlink:href="../img/icons/sprite.svg#ico_cart"></use>
            </svg><span class="button__text">В корзину</span>
          </div></a>
        <p></p><a class="button button_red button_icon-sm" href="javascript:void(0);">
          <svg class="button__svg">
            <use xlink:href="../img/icons/sprite.svg#ico_cart"></use>
          </svg></a>
      </div>
      <h2>Иконки</h2>
      <div class="icon icon_search">
        <svg class="icon__svg">
          <use xlink:href="../img/icons/sprite.svg#ico_search"></use>
        </svg>
      </div>
      <p></p>
      <div class="icon icon_blank">
        <svg class="icon__svg">
          <use xlink:href="../img/icons/sprite.svg#ico_blank"></use>
        </svg>
      </div>
      <p></p>
      <div class="icon icon_person">
        <svg class="icon__svg">
          <use xlink:href="../img/icons/sprite.svg#ico_person"></use>
        </svg>
      </div>
      <p></p>
      <div class="icon icon_list">
        <svg class="icon__svg">
          <use xlink:href="../img/icons/sprite.svg#ico_list"></use>
        </svg>
      </div>
      <p></p>
      <div class="icon icon_cart">
        <svg class="icon__svg">
          <use xlink:href="../img/icons/sprite.svg#ico_cart-empty"></use>
        </svg><span class="icon__amount"></span>
      </div>
      <p>
        <div class="icon icon_location">
          <svg class="icon__svg">
            <use xlink:href="../img/icons/sprite.svg#ico_location"></use>
          </svg><span class="icon__amount"></span>
        </div>
      </p>
      <p></p>
      <div class="icon icon_active icon_cart">
        <svg class="icon__svg">
          <use xlink:href="../img/icons/sprite.svg#ico_cart-empty"></use>
        </svg><span class="icon__amount">12</span>
      </div>
      <p></p><a class="icon-menu" href="javascript:void(0);">
        <svg class="icon-menu__svg">
          <use xlink:href="../img/icons/sprite.svg#ico_menu"></use>
        </svg></a>
    </h1>
    <script src="../js/index.js"></script>
  </body>
</html>