@import "_strong/menu-full__item_strong"
@import "_extra/menu-full__item_extra"

.menu-full__item
	margin-bottom: $grid-unit*3
	
	&:last-of-type
		margin-bottom: 0
		
		.menu-full__link
			padding-bottom: 0
		
	&_strong
		> .menu-full__link:hover::before
			background-color: $color-athensGray
		
	&_active
		> .menu-full__link::before
			background-color: $color-athensGray