.menu-burger.modal__open-link(data-popup-trigger="menu-full")
    a.icon-menu.menu-burger__link(href='javascript:void(0);' title = "заголовок H1")
        svg.icon-menu__svg
            use(xlink:href="/local/img/icons/sprite.svg#ico_menu")