.button
    position: relative
    display: inline-block
    padding: 16px 42px
    border: 1px solid $color-blue
    border-radius: 4px
    font-size: 16px
    font-weight: 500
    line-height: 1
    color: $color-blue
    letter-spacing: 0.03em
    text-transform: uppercase
    text-align: center
    text-decoration: none
    transition: $transition
    cursor: pointer


    @media (max-width: $tablet)
        font-size: 14px
        font-weight: 400

    @media (max-width: $sm)
        width: 100%

    &:hover, &:focus
        border-color: $color-blueDark
        color: $color-blueDark
    

    &[disabled]
        cursor: default
        opacity: 0.5
    

    &_blue
        background-color: $color-blue
        color: $color-white

        &:hover, &:focus
            background-color: $color-blueDark
            color: $color-white
    &_red
        background-color: $color-red
        color: $color-white
        border-color: $color-red

        &:hover, &:focus
            border-color: $color-redDark
            background-color: $color-redDark
            color: $color-white
    &_icon
        padding-top: 13px
        padding-bottom: 12px

    &_long
        min-height: 50px
        min-width: 300px

    &_icon-sm
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0
        height: 40px
        width: 40px
	
        .button__svg
            margin-right: 0

    &__svg
        width: 25px
        height: 25px
        fill: $color-white
        margin-right: 8px

    &__content
        display: flex
        justify-content: center
        align-items: center

.icon
    max-width: 25px
    max-height: 25px
	
    &_fill

        &:hover, &:focus
            .icon__svg
                fill: $color-black

    &__svg
        fill: $color-primary
        transition: $transition
        width: 25px
        height: 25px

    &_active
        position: relative

    &_location
        .icon__svg
            width: 20px
            height: 20px

    &_stroke

        &:hover, &:focus
            .icon__svg
                stroke: $color-black
                fill: $color-white

        .icon__svg
            fill: $color-white
            stroke: $color-primary

    &__amount
        position: absolute
        top: -8px
        right: -8px
        width: 20px
        height: 20px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        font-weight: 600
        font-size: 12px
        color: $color-white
        background-color: $color-red
        border-radius: 100%

.icon-menu
    display: block
    width: 50px
    height: 50px
    border-radius: 4px
    background-color: $color-blue
    transition: $transition

    &__svg
        fill: $color-white
        transition: $transition

    &:hover, &:focus
        background-color: $color-white

        .icon-menu__svg
            fill: $color-black

.icon-social
    display: block
    width: 35px
    height: 35px
    border-radius: 100%
    border: 1px solid $color-white
    background-color: transparent
    transition: $transition

    &:hover, &:focus
        background-color: $color-white

    &__svg
        fill: $color-white
        transition: $transition

    &_vk
        &:hover, &:focus
            .icon-social__svg
                fill: $color-blueDark
    &_fb
        &:hover, &:focus
            .icon-social__svg
                fill: $color-blueDark
    &_ytb
        &:hover, &:focus
            .icon-social__svg
                fill: $color-redDark