h1, .h1
    font-size: 30px
    font-weight: 400
    margin-bottom: $grid-unit*4
    margin-top: 0
    color: $color-black
    line-height: 36px

    @media (max-width: $hd) 
        font-size: 30px
    

    @media (max-width: $xl - 1)
        font-size: 30px

    @media (max-width: $tablet)
        font-size: 28px
  

    @media (max-width: $md)
        font-size: 28px
  

    @media (max-width: $sm)
        font-size: 26px

h2, .h2
    font-size: 24px
    font-weight: 600
    color: $color-black

h3, .h3
    font-size: 16px
    font-weight: 600
    margin-bottom: $grid-unit*2
    margin-top: 0
    color: $color-black
	
    @media (max-width: $tablet)
        font-size: 14px
ul 
    list-style: none
    margin: 0
    padding-left: 0


p 
    margin: 0
    margin-bottom: $grid-unit
    line-height: 130%
	
a 
    color: $color-primary
    text-decoration: none
    transition: $transition
	
.link-blue
    color: $color-blue
	
    &_border
        display: inline-block
        border-bottom: 1px solid $color-blue
        transition: $transition
		
        &:hover
            border-bottom: 1px solid $color-white

	
			
.strong 
    font-weight: 700
