@import "../../blocks/logo/logo"
@import "__content/menu-full__content"
@import "__header/menu-full__header"
@import "__action-link/menu-full__action-link"
@import "__main/menu-full__main"
@import "__list/menu-full__list"
@import "__item/menu-full__item"
@import "__main-item/menu-full__main-item"
@import "__link/menu-full__link"
@import "__link-desc/menu-full__link-desc"
@import "../menu-quick/menu-quick"
@import "../contacts-quick/contacts-quick"
@import "__quick-contacts/menu-full__quick-contacts"
@import "__btn/menu-full__button"
@import "__menu-quick/menu-full__menu-quick"
@import "__list-extra/menu-full__list-extra"
@import "../tag-list/tag-list"
@import "../modal/modal"

.menu-full
	background-color: $color-white
	padding: 60px 0px 60px 185px
	
	.menu-full__action-link_return
		opacity: 0
		pointer-events: none
		transition: $transition
		
	&.modal_overflow-visible
		.menu-full__action-link_return
			opacity: 1
			pointer-events: auto
		
	