.promo.configurator__promo
    .promo__title Поможем с выбором и конфигурацией сервера
    img.promo__img(src="/local/img/img_promo.png" alt="Промо")
    a.button.button_long.button_red.button_icon.promo__button(href='javascript:void(0);')
        .button__content
            svg.button__svg
                use(xlink:href="/local/img/icons/sprite.svg#ico_tel")
            span.button__text Получить консультацию