.filter-total.filter-total_hidden
    .filter-total__content
        .filter-total__title
            .filter-total__text Применённые фильтры
            a.filter-total__open-link(href="#" title = "заголовок H1") Развернуть
                span.fas.fa-angle-up.filter-total__icon

        ul.filter-total__list.filter-total__list_hidden
            li.filter-total__item
                .filter-total__item-title Цена
                ul.filter-total__subitems
                    li.filter-total__subitem
                        .filter-total__item-desc 5 300 ₽ — 9000  ₽
                        a.filter-total__item-remove(href="#" title = "заголовок H1")
                            span.fas.fa-times.filter-total__icon
            li.filter-total__item
                .filter-total__item-title Конфигурация
                ul.filter-total__subitems
                    li.filter-total__subitem
                        .filter-total__item-desc Web-сервер
                        a.filter-total__item-remove(href="#" title = "заголовок H1")
                            span.fas.fa-times.filter-total__icon
                    li.filter-total__subitem
                        .filter-total__item-desc Брандмауэр
                        a.filter-total__item-remove(href="#" title = "заголовок H1")
                            span.fas.fa-times.filter-total__icon
            li.filter-total__item
                .filter-total__item-title Состояние
                ul.filter-total__subitems
                    li.filter-total__subitem
                        .filter-total__item-desc Новый
                        a.filter-total__item-remove(href="#" title = "заголовок H1")
                            span.fas.fa-times.filter-total__icon
            li.filter-total__item
                .filter-total__item-title Производитель
                ul.filter-total__subitems
                    li.filter-total__subitem
                        .filter-total__item-desc ASUS
                        a.filter-total__item-remove(href="#" title = "заголовок H1")
                            span.fas.fa-times.filter-total__icon
                    li.filter-total__subitem
                        .filter-total__item-desc Intel
                        a.filter-total__item-remove(href="#" title = "заголовок H1")
                            span.fas.fa-times.filter-total__icon
            li.filter-total__item
                .filter-total__item-title Высота в юнитах
                ul.filter-total__subitems
                    li.filter-total__subitem
                        .filter-total__item-desc 1U
                        a.filter-total__item-remove(href="#" title = "заголовок H1")
                            span.fas.fa-times.filter-total__icon
                    li.filter-total__subitem
                        .filter-total__item-desc 2U
                        a.filter-total__item-remove(href="#" title = "заголовок H1")
                            span.fas.fa-times.filter-total__icon
