.button 
    position: relative
    display: inline-block
    padding: 16px 20px
    min-width: 300px
    border: 1px solid $color-blue
    border-radius: 4px
    font-size: 16px
    font-weight: 500
    line-height: 1
    color: $color-blue
    letter-spacing: 0.03em
    text-transform: uppercase
    text-align: center
    text-decoration: none
    transition: $transition
    cursor: pointer
    min-height: 50px

    @media (max-width: $tablet) 
        font-size: 14px
        font-weight: 400

    @media (max-width: $sm) 
        width: 100%

    &:hover, &:focus 
        background-color: $color-blue
        color: $color-white
    

    &[disabled] 
        cursor: default
        opacity: 0.5
    

    &_blue
        background-color: $color-blue
        color: $color-white

        &:hover, &:focus
            background-color: $color-white
            color: $color-blue
    &_red
        background-color: $color-red
        color: $color-white
        border-color: $color-red

        &:hover, &:focus
            background-color: $color-white
            color: $color-red
    &_icon
        display: inline-flex
        justify-content: center
        align-items: center
        padding: 13px 20px 12px 20px

        &:before
            content: ''
            width: 25px
            height: 25px
            background-repeat: no-repeat
            background-size: contain
            background-position: center




