$path: "/fonts/"

@font-face 
  font-family: "Proxima-Regular"
  font-style: normal
  font-weight: 400
  src: url($path + "GothamPro-Light.woff") format("woff")


@font-face 
  font-family: "Proxima-Regular"
  font-style: normal
  font-weight: 700
  src: url($path + "ProximaNova-Bold.woff") format("woff")
  src: url($path + "ProximaNova-Bold.ttf") format("ttf")


@font-face 
  font-family: "Dashicons"
  font-style: normal
  font-weight: 400
  src: url($path + "dashicons.ttf") format("ttf")