$path: "/fonts/"

@font-face 
  font-family: "Inter"
  font-style: normal
  font-weight: 400
  src: url($path + "Inter-Regular.woff") format("woff")
  src: url($path + "Inter-Regular.woff2") format("woff2")


@font-face 
  font-family: "Inter"
  font-style: normal
  font-weight: 500
  src: url($path + "Inter-Medium.woff") format("woff")
  src: url($path + "Inter-Medium.woff2") format("woff2")


@font-face
  font-family: "Inter"
  font-style: normal
  font-weight: 600
  src: url($path + "Inter-SemiBold.woff") format("woff")
  src: url($path + "Inter-SemiBold.woff2") format("woff2")