.config-users__label
	border: 1px solid $color-blue
	padding: 12px
	text-align: center
	color: $color-blue
	border-radius: 4px
	position: relative
	display: block
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	transition: $transition
	
	&:hover
		color: $color-white
		background-color: $color-blue