.counter
    button.counter__btn(data-count="minus")
        svg.counter__svg
            use(xlink:href="/local/img/icons/sprite.svg#ico_minus")
    input.counter__input(type="text" value="0" placeholder="0")
    button.counter__btn(data-count="plus")
        svg.counter__svg
            use(xlink:href="/local/img/icons/sprite.svg#ico_plus")