@import "__btn/pagination__btn"
@import "__item/pagination__item"
@import "__link/pagination__link"
@import "__list/pagination__list"

.pagination
	display: flex
	align-items: center
	justify-content: center