.catalog-detailed__total-item
	display: flex
	align-items: center
	margin-bottom: $grid-unit*6
	padding-bottom: $grid-unit*2
	border-bottom: 5px solid $color-athensGray
	position: relative
	
	&_red
		
		.catalog-detailed__total-percent
			color: $color-red
		
		.catalog-detailed__total-item-border
			background-color: $color-red
			
	&_blue
		
		.catalog-detailed__total-percent
			color: $color-blue
		
		.catalog-detailed__total-item-border
			background-color: $color-blue
	
	&_green
		
		.catalog-detailed__total-percent
			color: $color-green
		
		.catalog-detailed__total-item-border
			background-color: $color-green
	
	&_orange
		
		.catalog-detailed__total-percent
			color: $color-orange
		
		.catalog-detailed__total-item-border
			background-color: $color-orange