.modal
	position: fixed
	top: 0
	bottom: 0
	
	width: auto
	z-index: 8000
	display: flex
	flex-direction: column
	background-color: #fff
	overflow-y: auto
	overflow-x: hidden
	transition: transform 0.2s 0s
	transition-property: transform, visibility, width
	
	
@import "_hidden/modal_hidden"
@import "_overflow-visible/modal_overflow-visible"
@import "_left/modal_left"
@import "_right/modal_right"

	
