.catalog-detailed__slider
    .slider
        .slider__thumbs.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="local/img/img_slider-thumb-3.png")
                .swiper-slide
                    img(src="local/img/img_slider-thumb-2.png")
                .swiper-slide
                    img(src="local/img/img_slider-thumb-3.png")
                .swiper-slide
                    img(src="local/img/img_slider-thumb-3.png")

        .slider__button.slider__button_next
            span.fas.fa-angle-up
        .slider__button.slider__button_prev
            span.fas.fa-angle-down
        .slider__gallery.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="local/img/img_slider.png")
                .swiper-slide
                    img(src="local/img/img_slider.png")
                .swiper-slide
                    img(src="local/img/img_slider.png")
                .swiper-slide
                    img(src="local/img/img_slider.png")

