.catalog-detailed__slider
    .slider
        .slider__thumbs.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="local/img/img_slider-thumb-3.png")
                .swiper-slide
                    img(src="local/img/img_slider-thumb-2.png")
                .swiper-slide
                    img(src="local/img/img_slider-thumb-3.png")
                .swiper-slide
                    img(src="local/img/img_slider-thumb-3.png")

        .slider__button.slider__button_next
            .icon.icon_fill
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        .slider__button.slider__button_prev
            .icon.icon_fill
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_arrow")
        .slider__gallery.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="local/img/img_slider.png")
                .swiper-slide
                    img(src="local/img/img_slider.png")
                .swiper-slide
                    img(src="local/img/img_slider.png")
                .swiper-slide
                    img(src="local/img/img_slider.png")

