.cheaper__submit
	width: 100%
	margin-bottom: $grid-unit*2
	pointer-events: none
	
	&_correct
		background-color: $color-blue
		border-color: $color-blue
		color: $color-white
		pointer-events: auto
	