.configurator__items
	display: grid
	grid-template-columns: calc(50% - 10px) calc(50% - 10px)
	grid-gap: 20px
	height: fit-content
	transition: $transition
	
@import "_one-col/configurator__items_one-col"
	
	