@import "__item/footer-contacts__item"
@import "__desc/footer-contacts__desc"
@import "__link/footer-contacts__link"
@import "../social/social"

.footer-contacts
	
	@media (max-width: $xl)
		display: grid
		grid-template-columns: 300px auto
		grid-column-gap: 30px
