.footer-contacts
    .footer-contacts__item
        a.footer-contacts__link.footer-contacts__link_xl(href="tel:8 (812) 660-56-82" title = "заголовок H1") 8 (812) 660-56-82
        span.footer-contacts__desc Звонок по России бесплатный
    .footer-contacts__item
        a.footer-contacts__link.footer-contacts__link_md(href="mailto: sales@galtsystems.com" title = "заголовок H1") sales@galtsystems.com
        span.footer-contacts__desc Единая почта по всем вопросам
    .footer-contacts__item
        .footer-contacts__link г. Санкт-Петербург, Витебский пр., д. 11, лит. С, оф. 2006
        span.footer-contacts__desc Режим работы: Пн - Пт. 9:00-19:00
    include ../social/social