ul.languages
    - var langTitle ="RU";
    - var langClassActive = "languages__item_active";
        include __item/languages__item

    - var langClassActive = "";
    - var langTitle ="EN";
        include __item/languages__item