.catalog-detailed__total
    .catalog-detailed__total-content
        .catalog-detailed__total-header
            h2.catalog-detailed__total-title Основные показатели конфигурации
            .catalog-detailed__total-hint.hint
                span.fas.fa-question-circle.hint__ico
                .hint__desc Много много важной информации для пользователя
        ul.catalog-detailed__total-list
            li.catalog-detailed__total-item
                span.catalog-detailed__total-percent(data-percent="60") 60%
                span.catalog-detailed__total-item-title Процессор
                span.catalog-detailed__total-item-border
            li.catalog-detailed__total-item
                span.catalog-detailed__total-percent(data-percent="22") 22%
                span.catalog-detailed__total-item-title Размер дисков
                span.catalog-detailed__total-item-border
            li.catalog-detailed__total-item
                span.catalog-detailed__total-percent(data-percent="88") 88%
                span.catalog-detailed__total-item-title Оперативная память
                span.catalog-detailed__total-item-border
            li.catalog-detailed__total-item
                span.catalog-detailed__total-percent(data-percent="43") 43%
                span.catalog-detailed__total-item-title Скорость дисков
                span.catalog-detailed__total-item-border