@import "../__total-content/catalog-detailed__total-content"
@import "../__total-title/catalog-detailed__total-title"
@import "../__total-header/catalog-detailed__total-header"
@import "../__total-list/catalog-detailed__total-list"
@import "../__total-item/catalog-detailed__total-item"
@import "../__total-percent/catalog-detailed__total-percent"
@import "../__total-item-title/catalog-detailed__total-item-title"
@import "../__total-item-border/catalog-detailed__total-item-border"

.catalog-detailed__total
	@include container-fluid
	background-color: #FBFBFB
	padding-top: $grid-unit*10
	padding-bottom: $grid-unit*6
	margin-bottom: -235px