.counter__btn
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 25px
	height: 25px
	padding: 6px
	border-radius: 100%
	border: 1px solid $color-mercury
	cursor: pointer
	
	&:hover, &:focus
		.counter__svg
			fill: $color-blue