section.catalog
    .catalog__item
        a.catalog__header(href="/configurator.html" title = "заголовок H1")
            img.catalog__img(src="/local/img/img_catalog-1.png" alt="Серверы")
            h2.catalog__title Серверы
        .catalog__content
            .catalog__list-title Производитель
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Supermicro
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Asus
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Intel
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Supermicro
            .catalog__list-title Форм-фактор
            ul.catalog__list.tag-list
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 1U
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 2U
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") Tower
            .catalog__list-title Тип
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Башенные
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Стоечные
    .catalog__item
        a.catalog__header(href="/configurator.html" title = "заголовок H1")
            img.catalog__img(src="/local/img/img_catalog-2.png" alt="Серверы б/у")
            h2.catalog__title Серверы б/у
        .catalog__content
            .catalog__list-title Производитель
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Supermicro б/у
                    ul.catalog__list.tag-list
                        li.tag-list__item
                            a.tag-list__link(href="#" title = "заголовок H1") 1U
                        li.tag-list__item
                            a.tag-list__link(href="#" title = "заголовок H1") 2U
                        li.tag-list__item
                            a.tag-list__link(href="#" title = "заголовок H1") 3U
                        li.tag-list__item
                            a.tag-list__link(href="#" title = "заголовок H1") 4U
                        li.tag-list__item
                            a.tag-list__link(href="#" title = "заголовок H1") Tower
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Dell б/у
                    ul.catalog__list.tag-list
                        li.tag-list__item
                            a.tag-list__link(href="#" title = "заголовок H1") 1U
                        li.tag-list__item
                            a.tag-list__link(href="#" title = "заголовок H1") 2U
            .catalog__list-title Тип
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Башенные
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Стоечные
    .catalog__item
        a.catalog__header(href="#" title = "заголовок H1")
            img.catalog__img(src="/local/img/img_catalog-3.png" alt="Конфигуратор серверов")
            h2.catalog__title Конфигуратор серверов
        .catalog__content
            .catalog__list-title Перечень серверов
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Конфигуратор сервера Asus
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Конфигуратор сервера Dell
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Конфигуратор сервера HP
    .catalog__item
        a.catalog__header(href="#" title = "заголовок H1")
            img.catalog__img(src="/local/img/img_catalog-4.png" alt="Готовые решения")
            h2.catalog__title Готовые решения
        .catalog__content
            .catalog__list-title Перечень решений
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Web-server
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Брандмауэр
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Контроллер домена
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Сервер мониторинга
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверная виртуализация
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Сервер видеонаблюдения
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Web-server
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Брандмауэр
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Контроллер домена
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Сервер мониторинга
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверная виртуализация
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Сервер видеонаблюдения
    .catalog__item
        a.catalog__header(href="#" title = "заголовок H1")
            img.catalog__img(src="/local/img/img_catalog-5.png" alt="Сетевое оборудование")
            h2.catalog__title Сетевое оборудование
        .catalog__content
            .catalog__list-title Производитель
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Cisco
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Ubiquiti
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Mikrotic
            .catalog__list-title Скорость портов
            ul.catalog__list.tag-list
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 1
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 2
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 3
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 4
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 5
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 6
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 7
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 8
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 9
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 10
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 11
                li.tag-list__item
                    a.tag-list__link(href="#" title = "заголовок H1") 12
    .catalog__item
        a.catalog__header(href="#" title = "заголовок H1")
            img.catalog__img(src="/local/img/img_catalog-6.png" alt="Сетевое оборудование б/у")
            h2.catalog__title Сетевое оборудование б/у
        .catalog__content
            .catalog__list-title Коммутаторы б/у
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Cisco
    .catalog__item
        a.catalog__header(href="#" title = "заголовок H1")
            img.catalog__img(src="/local/img/img_catalog-7.png" alt="Дисковые полки б/у")
            h2.catalog__title Дисковые полки б/у
    .catalog__item
        a.catalog__header(href="#" title = "заголовок H1")
            img.catalog__img(src="/local/img/img_catalog-7.png" alt="Акции")
            h2.catalog__title Акции
        .catalog__content
            .catalog__list-title Акции на товары
            ul.catalog__list
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Supermicro
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Asus
                li.catalog__list-item
                    a.catalog__list-link(href="#" title = "заголовок H1") Серверы Intel




