.documents(data-popup-modal="detailed-documents").modal-detailed.modal.modal_right.modal_hidden
    .documents__content.modal__content.modal-detailed__content
        a.documents__action-link.modal-detailed__action-link.modal__close-link(href="#" title = "заголовок H1")
            .icon.icon_fill
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
        .documents__main.modal-detailed__main
            .h2.documents__title.modal-detailed__title Документация
            ul.documents__list
                li.documents__item
                    a.documents__link(href="#" title = "заголовок H1") Инструкция к серверной платформе Supermicro SYS-6016T-NTF