.configurator__items_one-col
	grid-template-columns: auto
	
	.configurator__item
		display: grid
		grid-template-columns: 300px 380px auto
		grid-template-rows: auto auto
		height: fit-content
		grid-template-areas: "hot-options hot-options hot-options" "img main buy"
		grid-row-gap: 10px
		grid-column-gap: 30px
		padding-right: 30px
		
		@media (max-width: $xl)
			grid-template-columns: 150px 270px auto
		
	.configurator__hot-options
		grid-area: hot-options
		
	.configurator__item-link
		grid-area: img
		
	.configurator__item-main
		grid-area: main
	
	.configurator__item-options
		grid-template-columns: auto
	
	.configurator__item-title
		min-height: 0
	
	.configurator__item-img
		width: 280px
		max-height: 180px
		
	.configurator__item-rate
		margin-bottom: 12px
		
		&_two
			display: block
			
			.configurator__item-rate-old
				margin-left: 0
				margin-top: $grid-unit
				margin-bottom: $grid-unit*2
	
	.input-compare
		width: 100%
		margin-top: 13px
	
	.configurator__item-buy
		flex-wrap: wrap
		grid-area: buy
		
		&_conf
			display: block
			
			.configurator__item-buy-text
				width: 100%
				margin-bottom: $grid-unit*8
			
			.input-compare
				width: 100%
			
			.input-compare__label
				justify-content: flex-start
				
	.configurator__item-buy-btn
		margin-right: 0
		flex-grow: 1
		
		&_conf
			max-width: 100%
			
			