.configurator__item-rate
	display: flex
	align-items: flex-end
	margin-bottom: $grid-unit*2
	font-size: 26px
	color: $color-black
	font-weight: 700
	
	&_conf
		margin-bottom: $grid-unit*6
	

@import "_new/configurator__item-rate_new"