.features(data-popup-modal="detailed-features").modal.modal_right.modal_hidden
    .features__content.modal__content
        a.features__action-link.modal__close-link(href="#" title = "заголовок H1")
            .icon.icon_fill
                svg.icon__svg
                    use(xlink:href="/local/img/icons/sprite.svg#ico_cross")
        .features__main
            .h2.features__title Характеристики
            .features__item
                .features__item-title Процессоры
                ul.features__list
                    li.features__list-item
                        span.features__list-item-title Максимальное кол-во процессоров:
                        span.features__list-item-desc 2
            .features__item
                .features__item-title Материнская плата
                ul.features__list
                    li.features__list-item
                        span.features__list-item-title Модель:
                        span.features__list-item-desc DL380pG8
                    li.features__list-item
                        span.features__list-item-title Чипсет:
                        span.features__list-item-desc Intel® C600
                    li.features__list-item
                        span.features__list-item-title Сокет:
                        span.features__list-item-desc FCLGA2011
                    li.features__list-item
                        span.features__list-item-title Слоты расширения:
                        span.features__list-item-desc 2 * PCI-E 3.0 x16; 3 * PCI-E 3.0 x8; 1 * PCI-E 2.0 x4
            .features__item
                .features__item-title Оперативная память
                ul.features__list
                    li.features__list-item
                        span.features__list-item-title Тип:
                        span.features__list-item-desc DDR4
                    li.features__list-item
                        span.features__list-item-title Кол-во слотов оперативной памяти:
                        span.features__list-item-desc 24
                    li.features__list-item
                        span.features__list-item-title Максимальный объем:
                        span.features__list-item-desc 100
            .features__item
                .features__item-title Жесткие диски
                ul.features__list
                    li.features__list-item
                        span.features__list-item-title Максимальное кол-во процессоров:
                        span.features__list-item-desc 2
            .features__item
                .features__item-title Характеристики RAID массивов
                ul.features__list
                    li.features__list-item
                        span.features__list-item-title Модель:
                        span.features__list-item-desc DL380pG8
                    li.features__list-item
                        span.features__list-item-title Чипсет:
                        span.features__list-item-desc Intel® C600
                    li.features__list-item
                        span.features__list-item-title Сокет:
                        span.features__list-item-desc FCLGA2011
                    li.features__list-item
                        span.features__list-item-title Слоты расширения:
                        span.features__list-item-desc 2 * PCI-E 3.0 x16; 3 * PCI-E 3.0 x8; 1 * PCI-E 2.0 x4
            .features__item
                .features__item-title Графический адаптер
                ul.features__list
                    li.features__list-item
                        span.features__list-item-title Тип:
                        span.features__list-item-desc DDR4
                    li.features__list-item
                        span.features__list-item-title Кол-во слотов оперативной памяти:
                        span.features__list-item-desc 24
                    li.features__list-item
                        span.features__list-item-title Максимальный объем:
                        span.features__list-item-desc 100
            .features__item
                .features__item-title Корпус
                ul.features__list
                    li.features__list-item
                        span.features__list-item-title Модель:
                        span.features__list-item-desc DL380pG8
                    li.features__list-item
                        span.features__list-item-title Чипсет:
                        span.features__list-item-desc Intel® C600
                    li.features__list-item
                        span.features__list-item-title Сокет:
                        span.features__list-item-desc FCLGA2011
                    li.features__list-item
                        span.features__list-item-title Слоты расширения:
                        span.features__list-item-desc 2 * PCI-E 3.0 x16; 3 * PCI-E 3.0 x8; 1 * PCI-E 2.0 x4
            .features__item
                .features__item-title Разъемы на задней панели
                ul.features__list
                    li.features__list-item
                        span.features__list-item-title Модель:
                        span.features__list-item-desc DL380pG8
                    li.features__list-item
                        span.features__list-item-title Чипсет:
                        span.features__list-item-desc Intel® C600
                    li.features__list-item
                        span.features__list-item-title Сокет:
                        span.features__list-item-desc FCLGA2011
                    li.features__list-item
                        span.features__list-item-title Слоты расширения:
                        span.features__list-item-desc 2 * PCI-E 3.0 x16; 3 * PCI-E 3.0 x8; 1 * PCI-E 2.0 x4
