.menu-quick__link
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	
	&:hover, &:focus
		
		.menu-quick__icon
		
			&.icon_fill .icon__svg
				fill: $color-black
			
			&.icon_stroke .icon__svg
				stroke: $color-black