@import "../__slider-config-content/catalog-detailed__slider-config-content"

@import "../../slider-config/slider-config"
@import "../../hint/hint"

.catalog-detailed__slider-config
	border: 3px solid #EFF0F4
	padding: $grid-unit*4
	margin-bottom: $grid-unit*4
	position: relative